{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<body style = "background-image: url('static/whitepic.jpeg');">
    <div id="load"></div>
    <p>
    <form action='#' method='post' id="form">
        <p><label for="link" id="label"><b>Enter the youtube link and Time: </b></label></p>
        <input type="text" id="input" name="link" style="font-size: large; background-color: transparent; border-color: rgba(0, 0, 0, 0.179);" placeholder="Enter Youtube Link..." ><br><br>
        <input type="text" id="input" name="time" style="font-size: large; background-color: transparent; border-color: rgba(0, 0, 0, 0.179);" placeholder="Enter Summatization Time..." ><br><br>
        <input type="submit" value="Get Summary" id="submit" style="font-size: large;"/>
    </form>
    </p>
</body>

{% endblock %}
